*{
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 400;
}

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

/*-------------------------------*/
/*            HEADER             */
/*-------------------------------*/

.header{
  height: 425px;
  position: relative;
  overflow: hidden;
}

/*-------------------------------*/
/*          LOGO MARK            */
/*-------------------------------*/

#kaleidoscope{
  position: absolute;
  right: 0;
  top: -33%;
  height: 750px;
  width: 750px;
}

#kaleidoscope img{
  position: absolute;
  top: 0;
  left: 0;
}

/*-------------------------------*/
/*          NAVIGATION           */
/*-------------------------------*/
nav .links{
  display: inline-block;
  width: 70%;
}

nav .sort{
  display: inline-block;
  width: 25%;
}

nav .links li{
  list-style: none;
  width: 20%;
  float: left;
}

nav .sort li{
  list-style: none;
  float: right;
  margin-left: 0.5em; 
}

/*-------------------------------*/
/*         STUDENT LIST          */
/*-------------------------------*/

.students ul li{
  list-style: none;
  width: 11.667%;
  float: left;
  font-size: 12px
}

/*-------------------------------*/
/*          GRID VIEW            */
/*-------------------------------*/

.project-thumb{
  height: 75px;
  width: 100px;
  margin: 0 15px 15px 0;
  float: left;
  background-color: gray;
}

.project-grid ul:hover li{
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
}

.project-grid ul li:hover{
  opacity: 1;
}


/*-------------------------------*/
/*         BROWSE VIEW           */
/*-------------------------------*/

.project-browse ul li > div img{
  width: 100%;
  height: 300px;
  background: gray;
}

.project-browse.row{
  max-width: 100%;
  width: 1140px;
}

